[package]
edition.workspace = true
name              = "miden-multisig-coordinator-server"
publish.workspace = true
version.workspace = true

[lints]
workspace = true

[features]
default   = []
sysbundle = ["dep:openssl-sys", "dep:pq-sys"]

[package.metadata.cargo-machete]
ignored = ["humantime-serde", "openssl-sys", "pq-sys"]

[dependencies]
anyhow                            = { workspace = true }
axum                              = "0.8"
bon                               = { workspace = true }
chrono                            = { workspace = true }
config                            = { version = "0.15", default-features = false, features = ["ron"] }
dissolve-derive                   = { workspace = true }
humantime-serde                   = "1.1"
itertools                         = "0.14"
miden-client                      = { workspace = true }
miden-multisig-coordinator-domain = { workspace = true, features = ["serde"] }
miden-multisig-coordinator-engine = { workspace = true }
miden-multisig-coordinator-store  = { workspace = true }
miden-multisig-coordinator-utils  = { workspace = true }
miden-objects                     = { workspace = true }
openssl-sys                       = { version = "0.9", optional = true, features = ["vendored"] }
pq-sys                            = { version = "0.7", optional = true, features = ["bundled"] }
serde                             = { workspace = true, features = ["derive"] }
serde_with                        = { workspace = true, features = ["base64", "macros"] }
thiserror                         = "2"
tokio                             = { workspace = true, features = ["rt-multi-thread", "signal"] }
tower-http                        = { version = "0.6", features = ["cors", "trace"] }
tracing                           = { workspace = true }
tracing-subscriber                = { version = "0.3", features = ["env-filter"] }
uuid                              = { workspace = true, features = ["serde"] }
